@model CoreActionResult.Models.Product
<div class="container mt-4">
    <h4 class="mb-3">Product Details</h4>
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">ID:</dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-4">Name:</dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">Description:</dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-4">Category:</dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Category)
                </dd>
                <dt class="col-sm-4">Price:</dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-4">Quantity:</dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="text-center mt-4">
    <a asp-action="List" asp-controller="Products" class="btn btn-primary">Back to List</a>
</div>